.display-flex {
  display: flex;
}

.big-text {
  font-size: 1.25rem;
  font-weight: bold;
}

.link-text {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: white;
}

.medium-text {
  font-size: 0.85rem;
}

.example{
  --lwc-brandPrimary: rgb(115, 208, 137);
  height: 200px;
}
